
executor="torque"
proc_mode=1

commands {
    bcftools {
        modules='bcftools/1.9'
    }

    select_best {
        modules='singularity/3.8.4'
        container='select_best_container'
    }

    split_sv_bed {
        modules='singularity/3.8.4'
        container='split_sv_bed_container'
    }
    
    annotate_vcf {
        modules='singularity/3.8.4'
        container='annotate_vcf_container'
    }
}

containers {
    select_best_container {
        type='singularity'
        image='docker:\\/\\/ghcr.io/bioinfomethods/select-best:${TAG}'
        inherit_user=true
        execOptions='--nohttps -C'
    }

    split_sv_bed_container {
        type='singularity'
        image='docker:\\/\\/ghcr.io/bioinfomethods/split-sv-bed:${TAG}'
        inherit_user=true
        execOptions='--nohttps -C'
    }

    annotate_vcf_container {
        type='singularity'
        image="docker:\\/\\/ghcr.io/bioinfomethods/annotate-vcf:${TAG}"
        inherit_user=true
        execOptions='--nohttps -C'
    }
}
